%h1
  Dashboard
  - if current_member.verified?
    = link_to "#", title: 'Verified' do
      %i.fa.fa-check.green

- unless @member.mentor
  = link_to "My Classified Advert", preview_classified_path, class: "btn btn-default btn-lg btn-block"
  = link_to "Add a new classified", new_classified_path, class: "btn btn-default btn-lg btn-block"
=link_to "My Profile", member_profile_path, class: "btn btn-primary btn-lg btn-block"
=link_to "Messages", messages_path, class: "btn btn-default btn-lg btn-block"
=link_to "View all Classified Adverts", classifieds_path, class: "btn btn-primary btn-lg btn-block"
=link_to "View Mentors", mentors_path, class: "btn btn-default btn-lg btn-block"

- unless current_member.verified?
  = link_to "Verify Account via Text Message", verification_path, class: "btn btn-primary btn-lg btn-block"
  %p{:style => "text-align: center"}
    %b What is this?
    When you message someone on mentoring.io they will be able to see whether your account is listed as 'Verified' or 'Not Verified'
