.background-image
#banner
  .row
    .col-md-6.col-md-offset-3
      .text-center
        .lead.tagline
          %p Learn to code with the help of a mentor

          =link_to "Sign up", new_member_path, class: "btn btn-lg btn-default"

          %p or become #{link_to("a mentor", new_member_path(mentor: true))}
