.background-image
#banner
  .row
    .col-md-6.col-md-offset-3
      .text-center
        .lead.tagline
          %p An online community where mentors can share their skills and provide guidance to new developers.

        - if member_signed_in?
          = link_to "My Dashboard", 'dashboard', class: "btn btn-lg btn-primary"
        - else
          =link_to "Sign up", new_member_path, class: "btn btn-lg btn-primary"
        %br
        %br

        %p or become #{link_to("a mentor", new_mentor_path)}
