.background-image
#banner
  .row
    .col-md-6.col-md-offset-3
      .text-center
        .lead.tagline
          %p= t('.tagline')

        - if member_signed_in?
          =link_to t('.mydashboard'), 'dashboard', class: "btn btn-lg btn-primary"
        - else
          =link_to t('.signup'), new_member_path, class: "btn btn-lg btn-primary"
          %br
          %br

          %p #{t('.become')} #{link_to(t('.mentor'), new_mentor_path)}
