-if @mentors.count > 0
  %h1 Mentors
  .row
    -@mentors.each do |mentor|
      .col-md-4
        .panel.panel-default
          .panel-body
            =link_to mentor_path(mentor.username) do
              .row
                .col-sm-2
                  %img{:src => mentor.gravatar_image(50)}
                .col-md-10
                  %h3{:style => 'display:inline;'}= mentor.username
                  .smaller
                    = Member.expertise_levels[mentor.expertise]
          .panel-footer
            %ul.skills
              - mentor.skills.each do |skill|
                %li{'data-toggle' => "tooltip", title: skill.name, class: "icon-#{skill.name.downcase}" }
-else
  %p.blankstate
    %i.fa.fa-user.fa-2x
    There are currently no mentors.
