.row
  .col-md-offset-2.col-md-8
    .panel.panel-default
      .panel-body
        .row
          .col-md-3
            =image_tag(@member.gravatar_image(150))
          .col-md-9
            %h1
              =@member.full_name
              %br
              %small= @member.location
            %em= Member.expertise_levels[@member.expertise_levels]
        .row
          .col-md-12
            %br
            %p.lead= @member.about
      .panel-footer
        %ul.skills
          - @member.skills.each do |skill|
            %li.fa.fa-2x{'data-toggle' => "tooltip", title: skill.name, class: "icon-#{skill.name.downcase}" }
