%h1= t('classifieds.my_classified_adverts')
- if @classifieds.count > 0
  - @classifieds.each do |classified|
    .panel.panel-default
      .panel-body
        = render partial: 'classifieds/show', locals: { classified: classified }
- else
  %p.blankstate
    %i.fa.fa-newspaper-o
      = t('classifieds.dont_have_ads')
    %br
