%h1 Preview classified
.panel.panel-default
  .panel-body
    - if @classifieds.count > 0

      - @classifieds.each do |classified|
        = render partial: 'classifieds/show', locals: { classified: classified }

        %br

        = link_to 'Post classified', classified_confirm_path(classified), method: :post, class: 'btn btn-primary'
    - else
      %p.blankstate
        %i.fa.fa-newspaper-o
        You don't currently have a classified ads to preview!
