%h1 Preview classifieds
- if @classifieds.count > 0
  - @classifieds.each do |classified|
    .panel.panel-default
      .panel-body
        = render partial: 'classifieds/show', locals: { classified: classified }
- else
  %p.blankstate
    %i.fa.fa-newspaper-o
      You don't currently have a classified ads to preview!
    %br
