%h1 Preview classified
.panel.panel-default
  .panel-body
    = render partial: 'classifieds/show', locals: { classified: @classified }

%br

= link_to 'Post classified', classified_confirm_path(@classified), method: :post, class: 'btn btn-primary'
