%h1 Preview classified

%p.lead= @classified.description
= @classified.skills.map(&:name).join(", ")
- if @classified.remote
  =link_to "#", title: "Remote", class: 'btn btn-default disabled' do
    %i.fa.fa-user.fa-3x
    %i.fa.fa-laptop.fa-2x
    %i.fa.fa-user.fa-3x
- if @classified.face_to_face
  =link_to "#", title: "Face to face", class: 'btn btn-default disabled' do
    %i.fa.fa-user.fa-3x
    %i.fa.fa-coffee.fa-2x
    %i.fa.fa-user.fa-3x

%br
= link_to 'Edit classified', edit_classified_path(@classified), class: 'btn btn-default'
= link_to 'Post classified', classified_path(@classified), class: 'btn btn-default'