body {
  background-color: transparent;
}
.logo {
  font-family: 'Patua One', cursive;
  color: #FFFFFF;
  background-color: #272F32;
  margin: 0;
  padding: 20px;
}

.background-image {
    background-image: url('background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 52%;
    border: 2px solid black;
}

#banner {
  position: absolute;
  width: 100%;
  top: 79px;
  background: #FF3D2E;
  opacity: 0.96;
  padding: 20px 0;
}

.landing {
  body {
    min-height: 100%;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  p {
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .fa-heart {
    color: #FF3D2E;
  }

  a {
    color: #272F32;
    &:hover {
      color: #9DBDC6;
    }
  }

  .btn-default {
    color: #FFFFFF;
    background-color: #272F32;
    border: 4px solid #272F32; 
    margin-bottom: 20px;
    padding: 10px 40px;
    &:hover {
      background-color: #FF3D2E;
      color: #FFFFFF;
      border-color: #272F32;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0;
  }
}
