%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      =link_to dashboard_index_path, class: 'navbar-brand' do
        .logo mentoring.io
    - if member_signed_in?
      .collapse.navbar-collapse
        .navbar-text.navbar-right
          = link_to 'Sign out', destroy_member_session_path, method: :delete
