%noscript
  %img{ src:"//heyswell.com/v1/hello.gif?sites=9df1ffc8&javascript=0" }

:javascript
  var _swell_site_ids = _swell_site_ids || [];
  _swell_site_ids.push('9df1ffc8');
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//df50assd5876f.cloudfront.net/hello.js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
