%h1 Your skills
%p What do you feel comfortable mentoring?

.form
  =simple_form_for @member, :url => member_create_member_skills_path,  :method => :put do |f|
    =fields_for 'member[member_skills][]', MemberSkill.new, index: nil do |ms|
      - @skills.each do |s|
        =ms.label s.name
        =ms.label s.id
        //=ms.check_box :skill_id, :val => s.id
        = ms.check_box :skill_id, {include_hidden: false}, s.id

    = f.submit
