%h1 Your skills
%p What do you feel comfortable mentoring?
/ =simple_form_for @member, :url => member_create_member_skills_path,  :method => :put do |f|
/ - for skill in Skill.all
/   = f.fields_for 'member_skills' do |s|
/     / = s.collection_check_boxes :skill_id, Skill.all.map{|s| [s.id, s.name]}, :first, :last
/     = s.label skill.name
/     = s.check_box :skill_id, :value => skill.id

/ =f.fields_for :member_skills, child_index: "NEW_ITEM" do |s|
=simple_form_for @member, :url => member_create_member_skills_path,  :method => :put do |f|
  =fields_for 'member[member_skills][]', MemberSkill.new, index: nil do |ms|
    - Skill.all.each do |s|
      =ms.label s.name
      =ms.label s.id
      //=ms.check_box :skill_id, :val => s.id
      = ms.check_box :skill_id, {include_hidden: false}, s.id

  = f.submit